 <%- include('partials/header') -%>

<h2>About To-do-list.</h2>

<p class="about-text">
    Welcome to our premier to-do list website! We understand the importance of staying organized and productive in today's fast-paced world. Our platform offers a seamless and intuitive interface to help you manage your tasks and stay on top of your daily, weekly, and monthly responsibilities. With our powerful features, you can easily create, prioritize, and track your to-do items, set reminders, and collaborate with others to streamline your workflow. Whether you're a busy professional, a student, or someone who simply wants to stay organized, our to-do list website is designed to simplify your life and empower you to accomplish your goals efficiently. Get started today and experience the satisfaction of crossing off tasks from your list with ease!</p>

<%- include('partials/footer') -%>